@model List<RankMonster.Models.Testimonial>
@{
    ViewBag.Title = "ViewTestimonials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Testimonials </h4>
                    </div>
                </div>
            </div>
            @{
                int count = 0;
                for (int y = count; y < Model.Count; y++)
                {
    <div class="row">
        @for (int x = count; x < Model.Count; x++)
        {
<div class="col-sm-4">
    @*<img src="~/assets/images/no-image-available.jpg" />*@
    <div class="card">
        <img onerror="this.src='/assets/images/no-image-available.jpg'" class="card-img-top img-fluid" src="@Url.Content("~/" + Model[x].CampImage)" alt="Card image cap" style="height: 300px;">
        <div class="card-body">
            <h5 class="card-title">@Model[x].reviewer_fname + " " + @Model[x].reviewer_lname</h5>
            <p class="card-text">
                @Model[x].reviewer_email
            </p>
            <p class="card-text">
                <small class="text-muted">Last updated @Model[x].reviewer_date ago</small>
            </p>
            <a href="@Url.Content("~/Testimonial/" + Model[x].t_id)" class="card-link">Share </a>
            <a href="#" onclick="(@Model[x].t_id,this);" class="card-link">Delete </a>

            <iframe style="width:100%;border:none" src="~/assets/RatingStars2/RatingStarshtml.html" __idm_frm__="337"></iframe>
        </div>
    </div>
</div>
count++;
}
    </div>
}
            }
        </div>
    </div>
</div>


<script>
    //function GenerateLink(item, button) {
    //    var url1 = window.location.href.split('/');
    //    var baseUrl = url1[0] + '//' + url1[2] + '/' + url1[3];
    //    $("loader").show();
    //    $.ajax({
    //        url: baseUrl + "/CreateTestimonial/GenerateTestimonial?id=" + item,
    //        type: "GET",
    //        datatype: "JSON",
    //        success: function (response) {
    //            console.log(response);
    //            if (response == "True") {
    //                $("loader").hide();
    //                $(button).hide();
    //                var a = $("<input>").attr("class", "form-control").val(baseUrl + "/Home/CurrentTestimonial?id=" + item);
    //                $(button).replaceWith(a);
    //            }
    //            else {
    //                alert("Error!!");
    //                $("loader").hide();
    //            }
    //        },
    //        error: function (err) {
    //            $("loader").hide();
    //            alert("Error");
    //        }
    //    });
    //}
    function removeTestimonial(id, obj) {
        var x = confirm("Are You Sure You Want To remove Testimonial.It will remove All related Reviews");
        if (x) {
            $.ajax({
                url: baseUrl + "~/Testimonial/removeTestimonial?id=" + id + "&request=Testimonial",
                type: "GET",
                datatype: "JSON",
                success: function (response) {
                    console.log(response);
                    if (response == "True") {
                        $("loader").hide();
                        $(this).parent().parent().remove();

                    }
                    else {
                        alert("Error!!");
                        $("loader").hide();
                    }
                },
                error: function (err) {
                    $("loader").hide();
                    alert("Error");
                }
            });
        }

    }
</script>


@*@{
            if (@TempData["TestimonialSave"] != null)
            {

                if (@TempData["TestimonialSave"].ToString() == "success")
                {
                    <script>
                        demo.showSwal("custom-update-Testimonial");
                    </script>
                }
                else
                {
                    <script>
                        demo.showSwal("custom-failed-update-Testimonial");
                    </script>
                }
            }
        }

    <script>
            function searchRecords() {
                var type;
                $('#datatables > tbody  > tr').each(function () {
                    $(this).hide();
                });
                if ($("#product").val() != "") {
                    type = "Product";
                    //$("#search_email").val();
                }
                if ($("#search_testimonialname").val() != "") {
                    type = "Testimonial";
                    //$("#search_campaignname").val();
                }
                $('#datatables > tbody  > tr').each(function () {
                    if (type == "Product") {
                        var search = $("#product").val();
                        var data = $(this).children('td')[2];
                        $(data).each(function () {
                            if ($(this).text() == search) {
                                $(this).parent().show();
                            }
                        });
                    }
                    else if (type == "Testimonial") {
                        var search = $("#search_testimonial").val();
                        var data = $(this).children('td')[1];
                        $(data).each(function () {
                            if ($(this).text() == search) {
                                $(this).parent().show();
                            }
                        });
                    }
                });
            }
        </script>*@